/* Header */
header {
    padding: 20px 0px 2px;
    text-align: center;
    background-color: #7431F9;
    color: #FFFFFF;
}

header h1 {
    margin-bottom: 0px;
}

header a {
    text-decoration: none;
    color: white;
}

.github-link {
    max-width: 99%;
    display: flex;
    justify-content: flex-end;
}

.container-header i {
    padding-right: 3px !important;
    color: #FFFFFF;
}