<!-- Poke mon Grid -->

    <!-- <form class="form-pokemon-search">
        <input type="search" (keydown.enter)="getPokemonDetail(pokemonName)" 
        [(ngModel)] = "pokemonName"
        id="pokemonName" name="pokemonName" placeholder="Pokémon Name">
    </form> -->

    <poke-search (emmitSearch)="getSearch($event)"></poke-search>

<div class="pokemon-grid" *ngIf="getAllPokemons">
    <div class="box" 
    *ngFor="let pokemon of getAllPokemons">
    <a [routerLink]="['details']">
        <img [src]="pokemon.status.sprites.front_default" alt="Pokemon" id="img">
        <div class="info-container">
            <strong>{{ pokemon.status.name }} &nbsp;#{{ pokemon.status.id }}</strong> <br>
            <strong>Type: </strong> &nbsp;{{ pokemon.status.types[0].type.name}}
        </div>
    </a>
    </div>
</div>




