/* Pokemon Grid */
.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 19px;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    justify-content: space-between;
    align-items: stretch;
    justify-items: center;
}

.pokemon-grid .box{
    width: 100%;
    height: 200px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    text-align: center;
    max-width: 49%;
    justify-content: space-around;
    min-width: 128px;
}

.pokemon-grid .box img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}

pagination-controls {
    text-align: center;
}
