<!-- Pokemon Grid -->
<div class="pokemon-grid">
    <div class="box" 
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}"
    >
        <img [src]="pokemon.sprites.front_default" alt="Pokemon" id="img">
        <h3>{{ pokemon.name }} &nbsp;#{{ pokemon.id }}</h3> 
        <p><b>Type: </b> &nbsp;{{ pokemon.types[0].type.name}}</p>
        <a><b>Details:</b> &nbsp; {{pokemon.stats[0].base_stat}}</a>
    </div>
</div>

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
